
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*container*/
.main_text {
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
    font-family: 'PT Serif', serif;
}

.main_text h2 {
    font-size: 45px;
    margin-bottom: 20px;
}

.main_text h4 {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 40px;
    font-family: 'Gowun Dodum', sans-serif;
    color: rgba(255, 255, 255, 0.8);
    opacity: 0;
}
.main_text span {
    font-size: 45px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}


.main_text > button {
    margin-top: 10px;
    color: white;
    background: none;
    font-size: 18px;
    border: 1.9px solid white;
    padding: 15px 20px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: all .3s;
}

.main_text > button:hover {
    opacity: 0.7;
    border-color:black;
    color: black;
    font-weight: bold;
    transform: scale(1.1, 1.1);
}

#background {
  z-index: -1;
    height: auto;
}