<!DOCTYPE html>
<html lang="en">
<head>
    <!--    title Icon -->
    <link href="../static/img/surf_icon.png" rel="shortcut icon" type="image/x-icon">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="끌"/>
    <meta property="og:description" content="서퍼들을 위한 해변 실시간 영상을 제공합니다."/>
    <meta property="og:image" content="이미지 삽입"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <!--    font-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap"
          rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Jua&family=Noto+Serif+KR:wght@500&family=Poppins:ital,wght@1,500&display=swap"
          rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&subset=korean"
          rel="stylesheet">
    <!--    CSS-->
    <link rel="stylesheet" href="{{ url_for('static',filename='./css/main.css') }}">
    <style>
        .card {
            box-shadow: 4px 4px 4px;

        }</style>
    <!-- fontawesome DY-->
    <script src="https://kit.fontawesome.com/8f4978e361.js" crossorigin="anonymous"></script>

    <!--    JS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <title>끌</title>

    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap"
          rel="stylesheet">

    <!--    Sign Up 스크립트 불러오기   -->
    <script src="{{ url_for('static',filename='./js/signup.js') }}"></script>

    <script>
        function logout() {
            $.removeCookie('mytoken', {path: '/'});
            alert('로그아웃!');
            window.location.href = "/";
        }

        function login() {
            let username = $("#floatingInputID").val()
            let password = $("#floatingInputPW").val()

            if (username == "") {
                alert('아이디를 입력해주세요.')
                $("#floatingInput_id").focus()
                return;
            } else {
                $("#floatingInput_id").text("")
            }

            if (password == "") {
                alert('비밀번호를 입력해주세요.')
                $("#floatingInput_PW").focus()
                return;
            } else {
                $("#floatingInput_PW").text("")
            }

            $.ajax({
                type: "POST",
                url: "/sign_in",
                data: {
                    give_id: username,
                    give_pw: password
                },
                success: function (response) {
                    console.log('성공')
                    if (response['result'] == 'success') {
                        $.cookie('mytoken', response['token'], {path: '/'});
                        alert(response['msg'])
                        window.location.replace("/")
                    } else {
                        alert(response['msg'])
                    }
                }
            });
        }

        function comment_save() {
            let today = new Date().toISOString();
            let code = document.getElementById("beach-code").innerText

            let content = $("#commentsArea").val();
            let datas = new FormData();
            datas.append('content', content)
            datas.append('date', today)
            datas.append('code', code)
            $.ajax({
                type: "POST",
                url: "/detail/write_comments",
                data: datas,
                cache: false,
                contentType: false,
                processData: false,
                success: function (response) {
                    alert(response['msg']);
                    location.reload()
                },
            });
        }

        function get_comment() {
            const tbody = document.getElementById("comments-box")
            let updateBtn = document.getElementsByClassName("update-comment");
            [...updateBtn].forEach(function (btn, idx) {
                btn.addEventListener('click', (e) => {
                    let tr = tbody.children[idx]
                    let comments_id = tr.children[0].innerHTML
                    let code = document.getElementById('beach-code').innerText
                    document.getElementById("update-uuid").innerText = comments_id

                    $.ajax({
                        type: "GET",
                        url: "/detail/get_comments",
                        data: {"id": String(comments_id)},
                        success: function (response) {
                            document.getElementById("commentsArea-update").innerText = response.comment
                        },
                    });
                })
            })
            const deleteBtn = document.getElementsByClassName("delete-comment");
            [...deleteBtn].forEach(function(btn,idx){
                btn.addEventListener('click', ()=>{
                    let tr = tbody.children[idx]
                    let comments_id = tr.children[0].innerHTML
                    comment_delete(comments_id)
                })
            })

        }

        function comment_update() {
            let today = new Date().toISOString();
            let content = $("#commentsArea-update").val();
            console.log(content)
            let datas = new FormData();
            let uuid = document.getElementById("update-uuid").innerText
            datas.append('content', content)
            datas.append('date', today)
            datas.append('uuid', uuid)
            $.ajax({
                type: "POST",
                url: "/detail/update_comments",
                data: datas,
                cache: false,
                contentType: false,
                processData: false,
                success: function (response) {
                    alert(response['msg']);
                    location.reload()
                },
            });
        }
        function comment_delete(uuid) {
            let ud = uuid
            datas = new FormData
            datas.append('uuid', ud)
            $.ajax({
                type: "POST",
                url: "/detail/delete_comments",
                data: datas,
                cache: false,
                contentType: false,
                processData: false,
                success: function (response) {
                    alert(response['msg']);
                    location.reload()
                },
            });
        }
        $(function () {
            get_comment()
        })
    </script>
</head>
<body>


<!--                Login & sign Up Modal-->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">
                    로그인</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInputID"
                                   placeholder="Type">
                            <label for="floatingInputID">ID</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="floatingInputPW"
                                   placeholder="Name">
                            <label for="floatingInputPW">Password</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer" id="signup_modal">
                <button type="button" class="btn btn-secondary posting-btn-close"
                        data-bs-dismiss="modal">
                    취소
                </button>
                <button onclick="login()" type="button" class="btn btn-primary posting-btn-save">
                    로그인
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="signUpModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signUpModalLabel">
                    회원 가입</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <div class="input_data form-floating">
                            <input type="text" class="form-control" id="floatingInput_ID"
                                   placeholder="ID"
                                   maxlength="12"
                                   onkeyup="checkId(this.value)">
                            <label for="floatingInput_ID">ID : 4~12자리 영문,숫자만 가능</label>
                            <button onclick="users_idCheck()" type="button" class="btn btn-dark">중복확인
                            </button>
                        </div>
                        <label for="floatingInput_ID" id="checkIdResult"></label>
                        <div class="input_data mb-3">
                            <div class="input_data mb-3">
                                <input type="password" class="form-control" id="floatingInput_PW"
                                       placeholder="Password"
                                       onkeyup="checkPassword(this.value)" maxlength="16">
                                <label for="floatingInput_PW">Password : 8~16자리 영문자,숫자,특수문자 조합</label>
                            </div>
                            <label for="floatingInput_PW" id="checkPasswordResult"></label>
                        </div>
                        <div class="input_data mb-3">
                            <div class="input_data mb-3">
                                <input type="password" class="form-control" id="floatingInput_PW_Check"
                                       placeholder="Password Check"
                                       onkeyup="checkPasswordConfirm(this.value)" maxlength="16">
                                <label for="floatingInput_PW_Check">Password Check</label>
                            </div>
                            <label for="floatingInput_PW_Check" id="passwordConfirmResult"></label>
                        </div>
                        <div class="input_data mb-3">
                            <div class="input_data form-floating">
                                <input type="text" class="form-control" id="floatingInput_name"
                                       placeholder="name"
                                       maxlength="20">
                                <label for="floatingInput_name">name</label>
                            </div>
                        </div>
                        <div class="input_data mb-3">
                            <div class="input_data form-floating">
                                <input type="text" class="form-control" id="floatingInput_keyword"
                                       placeholder="findKeyword"
                                       maxlength="20">
                                <label for="floatingInput_name">비밀번호 찾기 키워드</label>
                            </div>
                        </div>
                        <div class="form-floating mb-3">

                        </div>
                        <div class="form-floating mb-3">

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer" id="login_modal">
                <button type="button" class="btn btn-secondary posting-btn-close"
                        data-bs-dismiss="modal">
                    취소
                </button>
                <button onclick="users_signUp()" type="button" class="btn btn-primary posting-btn-save">
                    회원가입
                </button>
            </div>
        </div>
    </div>
</div>
<header id="header">
    <div class="container">
        <div class="row">
            <div class="header">
                <nav class="title_bar">
                    <ul>
                        <li class="nav-text">
                            <a href="/location_lists/강원">파도정보</a>
                        </li>
                        <li class="nav-text">
                            <a href="/FIN_list">게시판</a>
                        </li>
                    </ul>
                </nav>
                <a href="/home">
                    <img src="{{ url_for('static',filename='./img/logo2.png') }}" alt="wineNot_logo">
                </a>
                <nav class="user_nav">
                    <ul>
                        {% if login_status == 0 %}
                        <li class="nav-text">
                            <a type="button" data-bs-toggle="modal"
                               data-bs-target="#loginModal" data-bs-whatever="@getbootstrap">
                                <i class="fa-regular fa-user"></i>로그인
                            </a>
                        </li>
                        <li class="nav-text">
                            <a type="button" data-bs-toggle="modal"
                               data-bs-target="#signUpModal" data-bs-whatever="@getbootstrap">
                                <i class="fa-solid fa-pen-to-square"></i>회원가입</a></li>
                        {% elif login_status == 1 %}
                        <li class="nav-text"><a>{{user_info.name}} 님</a></li>
                        <li class="nav-text"><a class="logout" onclick="logout()"><i class="fa-regular fa-user"></i>
                            로그아웃</a></li>
                        {% endif %}
                    </ul>

                </nav>

            </div>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row mt-3 p-0">
        <div class="col-md-12">
            <div class="row p-0">
                <div class="col-md-5 col-sm-5 col-lg-5">
                    <div class="card location-card h-100">
                        <img src="{{ url_for('static',filename='./img/sample.jpg') }}" class="card-img-top h-100"
                             alt="...">
                        <div class="card-body" style="border: none">
                            {% if beach is not none %}
                            <div class="card-title"><b>{{beach}}</b></div>
                            <span id="beach-code" style="display: none">{{code}}</span>
                            {% endif %}
                            {% if beach is none %}
                            <div class="card-title"><b>상세 정보 없음</b></div>
                            {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-sm-7 col-lg-7">
                    <div class="row p-0">
                        <div class="col-md-4 col-sm-4 col-lg-4">
                            <div class="card location-card">
                                <div class="card-body">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td>현재 기온: {{data.tmp}} ℃</td>
                                        </tr>
                                        <tr>
                                            <td>현재 파고: {{data.wav}} M</td>
                                        </tr>
                                        <tr>
                                            <td>풍향: {{data.vec}} deg</td>
                                        </tr>

                                        <tr>
                                            <td>현재 풍속(동서): {{data.uuu}} m/s</td>
                                        </tr>
                                        <tr>
                                            <td>현재 풍속(남북): {{data.vvv}} m/s</td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8 col-lg-8">
                            <div class="card location-card">
                                <div class="card-body">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>시간</th>
                                            <th>기온</th>
                                            <th>파고</th>
                                            <th>풍속(동서)</th>
                                            <th>풍속(남북)</th>
                                            <th>풍향</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for item in weathers %}
                                        <tr>
                                            <td>{{item.fcstTime}}</td>
                                            <td>{{item.tmp}} ℃</td>
                                            <td>{{item.wav}} M</td>
                                            <td>{{item.uuu}} m/s</td>
                                            <td>{{item.vvv}} m/s</td>
                                            <td>{{item.vec}} deg</td>
                                            <td></td>
                                        </tr>
                                        {% endfor %}
                                        {% if weathers.length == 0 %}
                                        <tr>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                        </tr>
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-sm-12 mt-3">
                            <!-- Modal -->
                            <div class="modal fade" id="write-comments" tabindex="-1"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">댓글 작성</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-floating">
                                                <textarea class="form-control" placeholder="댓글 작성"
                                                          id="commentsArea" style="height: 100px"></textarea>
                                                <label for="commentsArea">댓글</label>
                                            </div>
                                        </div>
                                        <div class="modal-footer p-0">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                취소
                                            </button>
                                            <button type="button" class="btn btn-outline-secondary"
                                                    onclick="comment_save()">저장
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                             <!-- Modal -->
                            <div class="modal fade" id="update-comments" tabindex="-1"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <span id = "update-uuid" style="display: none"></span>
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="update">댓글 수정</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-floating">
                                                <textarea class="form-control" placeholder="댓글 작성"
                                                          id="commentsArea-update" style="height: 100px"></textarea>
                                                <label for="commentsArea-update">댓글</label>
                                            </div>
                                        </div>
                                        <div class="modal-footer p-0">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                취소
                                            </button>
                                            <button type="button" class="btn btn-outline-secondary"
                                                    onclick="comment_update()">저장
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card location-card">
                                <div class="card-body">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th colspan="8">댓글</th>
                                            <th width="10%">
                                                {% if login_status == 1 %}
                                                <button class="btn btn-outline-secondary p-1" type="button"
                                                        data-bs-toggle="modal" data-bs-target="#write-comments">작성
                                                </button>
                                                {% endif %}
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody id="comments-box">

                                        {% if not comments|length == 0 %}
                                        {% for comment in comments %}
                                        <tr>
                                            <td class="uuid" style="display: none">{{comment._id}}</td>
                                            <td> {{ loop.index }}</td>
                                            <td colspan="5" width="60%">{{comment.comment }}</td>
                                            <td>{{comment.id}}</td>
                                            <td>{{comment.date}}</td>
                                            <td>
                                                {% if login_status == 1 %}
                                                <div class="btn-group" role="group" aria-label="Basic example">
                                                    <button type="button"
                                                            class="btn btn-outline-secondary p-2 update-comment"
                                                            style="font-size:5px" data-bs-toggle="modal"
                                                            data-bs-target="#update-comments">수정
                                                    </button>
                                                    <button type="button"
                                                            class="btn btn-outline-secondary p-2 delete-comment"
                                                            style="font-size:5px">삭제
                                                    </button>
                                                </div>
                                                {%else%}
                                                -
                                                {%endif%}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% else %}

                                        <tr>
                                            <td colspan="8">댓글 없음</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td colspan="8">-</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td colspan="8">-</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td colspan="8">-</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td colspan="8">-</td>
                                            <td></td>
                                        </tr>
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer -->
<footer id="footer">
    <div id="footer_info">
        <div class="foot_container">
            <div class="row">
                <div class="footer_info">
                    <h2>
                        <img src="/static/img/logo2.png">
                    </h2>
                    <ul>
                        <li>4조</li>
                        <li>이정찬</li>
                        <li>임정현</li>
                        <li>김도엽</li>
                        <br>
                        <li>자료 출처 : 기상청</li>
                        <br>
                        <li>문의 : @</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>