<!DOCTYPE html>
<html lang="en">
<head>
    <!--    title Icon -->
    <link href="../static/img/surf_icon.png" rel="shortcut icon" type="image/x-icon">

    <meta charset="UTF-8">
    <!--    Boot Strap  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <!-- 웹 폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap"
          rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Jua&family=Noto+Serif+KR:wght@500&family=Poppins:ital,wght@1,500&display=swap"
          rel="stylesheet">
    <!--    CSS-->
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/re_detail.css">

    <!--    JS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--    cookie-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <!--    Sign Up 스크립트 불러오기   -->
    <script src="../static/js/signup.js"></script>
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/8f4978e361.js" crossorigin="anonymous"></script>

    <title>끌</title>

    <style>
        .wrapper {
            height: 1200px;
        }
    </style>

    <script>

        function logout() {
            $.removeCookie('mytoken', {path: '/'});
            alert('로그아웃!');
            window.location.href = "/";
        }

        //게시글 저장
        function saving() {
            /*input 데이터 가져오기*/
            let location = $("#floatingInputLocation").val();
            let Name = $("#floatingInputName").val();
            let content = $("#content").val();

            /*$("#file")[0]->input태그*/ /*.files -> length(갯수)*/
            let file = $("#file")[0].files[0];
            let form_data = new FormData();

            /*파일 데이터가 있을 경우 new FormData를 변수(form_data)에 대입하고 변수(form_data)에 input데이터를 append 해서 넣어줌*/
            form_data.append("file_give", file);
            form_data.append("location_give", location);
            form_data.append("name_give", Name);
            form_data.append("content_give", content);
            /*app.py /pictures api로 데이터를 보내주고 받아옴*/
            $.ajax({
                type: "POST",
                url: "/surfer/write_post",
                data: form_data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (response) {
                    alert(response['msg']);
                    window.location.reload();
                },
            });
        }

        //로그인
        function login() {
            let username = $("#floatingInputID").val()
            let password = $("#floatingInputPW").val()

            if (username == "") {
                alert('아이디를 입력해주세요.')
                $("#floatingInput_id").focus()
                return;
            } else {
                $("#floatingInput_id").text("")
            }

            if (password == "") {
                alert('비밀번호를 입력해주세요.')
                $("#floatingInput_PW").focus()
                return;
            } else {
                $("#floatingInput_PW").text("")
            }

            $.ajax({
                type: "POST",
                url: "/sign_in",
                data: {
                    give_id: username,
                    give_pw: password
                },
                success: function (response) {
                    console.log('성공')
                    if (response['result'] == 'success') {
                        $.cookie('mytoken', response['token'], {path: '/'});
                        alert(response['msg'])
                        window.location.replace("/home")
                    } else {
                        alert(response['msg'])
                    }
                }
            });


        }
    </script>

</head>
<body>

<div class="body_container">
<!--Login & sign Up Modal-->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">
                    로그인</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInputID"
                                   placeholder="Type">
                            <label for="floatingInputID">ID</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="floatingInputPW"
                                   placeholder="Name">
                            <label for="floatingInputPW">Password</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer" id="signup_modal">
                <button type="button" class="btn btn-secondary posting-btn-close"
                        data-bs-dismiss="modal">
                    취소
                </button>
                <button onclick="login()" type="button" class="btn btn-primary posting-btn-save">
                    로그인
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="signUpModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signUpModalLabel">
                    회원 가입</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <div class="input_data form-floating">
                            <input type="text" class="form-control" id="floatingInput_ID"
                                   placeholder="ID"
                                   maxlength="12"
                                   onkeyup="checkId(this.value)">
                            <label for="floatingInput_ID">ID : 4~12자리 영문,숫자만 가능</label>
                            <button onclick="users_idCheck()" type="button" class="btn btn-dark">중복확인
                            </button>
                        </div>
                        <label for="floatingInput_ID" id="checkIdResult"></label>
                        <div class="input_data mb-3">
                            <div class="input_data mb-3">
                                <input type="password" class="form-control" id="floatingInput_PW"
                                       placeholder="Password"
                                       onkeyup="checkPassword(this.value)" maxlength="16">
                                <label for="floatingInput_PW">Password : 8~16자리 영문자,숫자,특수문자 조합</label>
                            </div>
                            <label for="floatingInput_PW" id="checkPasswordResult"></label>
                        </div>
                        <div class="input_data mb-3">
                            <div class="input_data mb-3">
                                <input type="password" class="form-control" id="floatingInput_PW_Check"
                                       placeholder="Password Check"
                                       onkeyup="checkPasswordConfirm(this.value)" maxlength="16">
                                <label for="floatingInput_PW_Check">Password Check</label>
                            </div>
                            <label for="floatingInput_PW_Check" id="passwordConfirmResult"></label>
                        </div>
                        <div class="input_data mb-3">
                            <div class="input_data form-floating">
                                <input type="text" class="form-control" id="floatingInput_name"
                                       placeholder="name"
                                       maxlength="20">
                                <label for="floatingInput_name">name</label>
                            </div>
                        </div>
                        <div class="input_data mb-3">
                            <div class="input_data form-floating">
                                <input type="text" class="form-control" id="floatingInput_keyword"
                                       placeholder="findKeyword"
                                       maxlength="20">
                                <label for="floatingInput_name">비밀번호 찾기 키워드</label>
                            </div>
                        </div>
                        <div class="form-floating mb-3">

                        </div>
                        <div class="form-floating mb-3">

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer" id="login_modal">
                <button type="button" class="btn btn-secondary posting-btn-close"
                        data-bs-dismiss="modal">
                    취소
                </button>
                <button onclick="users_signUp()" type="button" class="btn btn-primary posting-btn-save">
                    회원가입
                </button>
            </div>
        </div>
    </div>
</div>

<!--header-->
<header id="header">
    <div class="container">
        <div class="row">
            <div class="header">
                <nav class="title_bar">
                    <ul>
                        <li class="nav-text">
                            <a href="">파도정보</a>
                        </li>
                        <li class="nav-text">
                            <a href="/FIN_list">게시판</a>
                        </li>
                    </ul>
                </nav>
                <a href="/home">
                    <em><img src="../static/img/logo2.png" alt="FIN_logo"></em>
                </a>
                <nav class="user_nav">
                    <ul>
                        {% if login_status == 0 %}
                        <strong>
                            <li class="nav-text">
                                <a type="button" data-bs-toggle="modal"
                                   data-bs-target="#loginModal" data-bs-whatever="@getbootstrap">
                                    <i class="fa-regular fa-user"></i>로그인
                                </a>
                            </li>
                        </strong>
                        <strong>
                            <li class="nav-text">
                                <a type="button" data-bs-toggle="modal"
                                   data-bs-target="#signUpModal" data-bs-whatever="@getbootstrap">
                                    <i class="fa-solid fa-pen-to-square"></i>회원가입</a></li>
                        </strong>
                        {% elif login_status == 1 %}
                        <li class="nav-text"><a>{{user_info.name}} 님</a></li>
                        <li class="nav-text"><a class="logout" onclick="logout()"><i class="fa-regular fa-user"></i>
                            로그아웃</a></li>
                        {% endif %}
                    </ul>

                </nav>

            </div>
        </div>
    </div>
</header>

<!--본문-->
<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="post_box">
                <div class="recommended_list">
                    <ul>
                        <strong>추천 SPOT</strong>
                        <p>
                            <button type="button" class="btn btn-secondary posting-btn" data-bs-toggle="modal"
                                    data-bs-target="#postingModal" data-bs-whatever="@getbootstrap">
                                <span>SPOT 추천</span>
                            </button>
                        </p>
                    </ul>
                </div>
                <!--modal 섹션 -->
                <div class="modal fade" id="postingModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">
                                    FIN에 추천하기</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="input-group mb-3">
                                        <input type="file" class="form-control" id="file">
                                    </div>
                                    <div class="mb-3">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="floatingInputLocation"
                                                   placeholder="Type">
                                            <label for="floatingInputLocation">위치</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="floatingInputName"
                                                   placeholder="Name">
                                            <label for="floatingInputName">해수욕장 이름</label>
                                        </div>

                                        <label class="col-form-label">추천 내용 : </label>
                                        <textarea class="form-control" id="content"></textarea>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary posting-btn-close"
                                        data-bs-dismiss="modal">
                                    취소
                                </button>
                                <button onclick="saving()" type="button" class="btn btn-primary posting-btn-save">
                                    추천하기
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="main_content">
                    <div class="img_box">
                        <img class="Review_img" src="../static/img/{{review.file}}">
                    </div>
                    <div class="review_detail">
                        <div id="title">
                            <h5 id="postNum" style="display: none">{{ review.post_num }}</h5>
                            <h1>{{ review.spot_name }}</h1>
                            <h2>{{ review.location }}</h2>
                            <h4>{{ review.content }}</h4>
                            <h3 style="margin-top: 90px">현재 기상 정보 {{ realtime_data.date}}</h3>
                            <table>
                                <thead>
                                <tr>
                                    <th>시간</th>
                                    <th>날씨</th>
                                    <th>기온</th>
                                    <th>파고</th>
                                    <th>풍향</th>
                                    <th>풍량</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>{{ realtime_data.time_h }} : 00</td>
                                    <td>{{ realtime_data.sky }}</td>
                                    <td>{{ realtime_data.temp }}</td>
                                    <td>{{ realtime_data.wav }}</td>
                                    <td>{{ realtime_data.wind_deg }}</td>
                                    <td>{{ realtime_data.wind }}</td>
                                </tr>
                                </tbody>
                            </table>
                            <br>
                            <h3 style="color: darkblue">
                                <a href="https://www.google.com/search?q={{review.spot_name}}"><span> 이 장소 구글 검색하기 ! </span></a>
                            </h3>
                        </div>
                        <!-- Comment 영역 -->
                        <div class="comment_box">
                            {% if user_info is not none %}
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="commentUserName">{{ user_info.name }}</span>
                                <input type="text" class="form-control" placeholder="Comment Input"
                                       aria-label="Comment Input" aria-describedby="button-addon2"
                                       id="commentInput">
                                <button class="btn btn-outline-dark" type="button" id="button-addon2"
                                        onclick="save_comment()">
                                    댓글 달기
                                </button>
                            </div>
                            {% endif %}
                            <div class="commentList">
                                {% for comment in comments %}
                                {% if comments[loop.index0].userID == user_info.id %}
                                <p class="comment_row"><span>{{comments[loop.index0].username}} :
                                                {{comments[loop.index0].comment}}</span>
                                    <button type="button" class="btn-close" aria-label="Close"
                                            onclick="delete_comment({{comments[loop.index0].comment_id }})"></button>
                                </p>
                                {% else %}
                                <p class="comment_row"><span>{{comments[loop.index0].username}} :
                                                {{comments[loop.index0].comment}}</span>
                                </p>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                </div>
                <div class="weather">
                    <table>
                        <thead>
                        <tr>
                            <th>시간</th>
                            <th>날씨</th>
                            <th>기온</th>
                            <th>파고</th>
                            <th>풍향</th>
                            <th>풍량</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for cast_weather_list in cast_weather_lists %}
                        <tr>
                            <td>{{ cast_weather_list.fcstTime }}</td>
                            <td>{{ cast_weather_list.sky }}</td>
                            <td>{{ cast_weather_list.tmp }}</td>
                            <td>{{ cast_weather_list.wav }}</td>
                            <td>{{ cast_weather_list.vec }}</td>
                            <td>{{ cast_weather_list.wsd }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- footer -->
<footer id="footer">
    <div id="footer_info">
        <div class="foot_container">
            <div class="row">
                <div class="footer_info">
                    <h2>
                        <img src="../static/img/logo2.png">
                    </h2>
                    <ul>
                        <li>4조</li>
                        <li>이정찬</li>
                        <li>임정현</li>
                        <li>김도엽</li>
                        <br>
                        <li>자료 출처 : 기상청 </li>
                        <br>
                        <li>문의 : @ </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
</body>

<script>
    <!--    Comment 저장-->
    function save_comment() {
        let pageInfo = "fin"
        let postNum = $('#postNum').text()
        let userName = $('#commentUserName').text()
        let comment = $('#commentInput').val()

        let form_data = new FormData();
        form_data.append("pageInfo_give", pageInfo)
        form_data.append("postNum_give", postNum);
        form_data.append("userName_give", userName);
        form_data.append("comment_give", comment);

        $.ajax({
            type: "POST",
            url: "/saveComment",
            data: form_data,
            cache: false,
            contentType: false,
            processData: false,
            success: function (response) {
                alert(response['msg']);
                window.location.reload();
            },
        });

    }

    //Comment 삭제
    function delete_comment(delete_id) {
        let res = confirm('삭제할까요?')
        if (res == true) {
            let pageInfo = "fin"
            let commentNum = delete_id
            let postNum = $('#postNum').text()


            let form_data = new FormData();
            form_data.append("pageInfo_give", pageInfo)
            form_data.append("commentNum_give", commentNum)
            form_data.append("postNum_give", postNum);


            $.ajax({
                type: "POST",
                url: "/delete_comment",
                data: form_data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (response) {
                    alert(response['msg']);
                    window.location.reload();
                },
            });

        }
    }

</script>

</html>